// Grid
$grid-row-width: 114rem;

// Font color
$font-color-primary: #222626;
$font-color-secondary: #959595;
$font-color-tertiary: #67676d;
$font-color-white: #fff;

// Navigation
$nav-bg-primary: #98d1eb;
$nav-bg-secondary: #0083c0;